{% extends 'base.html' %} {% load static %} {% block main %} {% for msg in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ msg }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



{% endfor %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    {% for slide in slider %}


    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ slide.img1.url }}" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ slide.img2.url }}" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ slide.img3.url }}" alt="Third slide">
        </div>
    </div>
    {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>

<div class="row row-cols-3 row-cols-md-3 g-4">


    {% for post in my_post %}


    <div class="col">
        <div class="card">

            <div class="card-body">
                <a href="{% url 'post_detail' post.pk %}">
                    <img class="card-img-top" {% if post.cover %} <img src="{{ post.cover.url }}" alt="Card Image" {% endif %} style="width:100%; height:15vw; object-fit:cover;">
                </a>
                <h5 class="card-title">{{ post.title }}</h5>
                <p>Like:{{post.liked}}</p>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock main %}